.btn-konfirmasi {
    background-color: #6f42c1;
    color: white;
    margin-bottom: auto;
  }

  .btn-konfirmasi:hover {
    background-color: #412680;
    color: rgb(228, 228, 228);
  }
  
  .btn-konfirmasi:disabled {
    background-color: #bc9fe7;
    cursor: not-allowed;
  }
  