.bg-purple {
    background-color: #9c6ade; 
  }
  
.cursor-pointer {
    cursor: pointer;
  }

.no-body-padding { 
    padding-top: 0 !important;
  }

.btn-purple {
    background-color: #6f42c1; 
    color: #fff;
    border: none;
  }
  
.btn-purple:hover {
    background-color: #5a3a95; 
    color: #c9affa;    
  }

  .user-tab {
    transition: color 0.3s ease;
    color: #311566; 
  }
  
  .user-tab-inactive {
    color: #868686; 
  }
  
  .user-tab:hover {
    color: #563692; 
    cursor: pointer;
  }

  .user-tab {
    transition: all 0.3s ease-in-out;
    transform: scale(1);
    opacity: 1;
  }
  
  .user-tab-inactive {
    color: #b0b0b0;
    transform: scale(0.95);
    opacity: 0.6;
  }
  
  .user-type-fields {
    overflow: hidden;
    transition: max-height 0.3s ease, opacity 0.3s ease;
    max-height: 500px; 
    opacity: 1;
  }
  
  .user-type-fields.fade {
    opacity: 0.3;
  }  
    
  .fade {
    opacity: 0.3;
  }