.container-home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(to bottom, #d0eaff, #f5d2e8);
  padding: 2rem 4rem;
  position: relative;
  overflow: hidden;
}

.unsrat-logo {
  position: absolute;
  top: 2rem;
  left: 2rem;
  width: 80px;
  height: auto;
}

.left-content {
  max-width: 40%;
  z-index: 1;
}

.heading-home {
  font-size: 2.8rem;
  font-weight: 700;
  color: #1f2937;
  margin-bottom: 1rem;
}

.description-home {
  font-size: 1.1rem;
  color: #4b5563;
  margin-bottom: 2rem;
}

.buttons {
  display: flex;
  gap: 15px;
}

.btn-purple-outline {
  background-color: transparent;
  color: #a64ce0;
  border: 2px solid #a64ce0;
  font-size: 14px;
  padding: 6px 16px;
}

.btn-purple {
  background-color: #6a1b9a;
  color: white;
  font-size: 14px;
  padding: 6px 16px;
  border: none;
}

.btn-signup {
  border: none;
}

.btn-signup:hover {
  border-radius: 10%;
  border: 2px solid #a64ce0;
}

.roomtech-logo {
  width: 500px;
  max-width: 100%;
  height: auto;
  transform: rotate(20deg);
  z-index: 1;
  position: relative;
  left: -100px;
  transition: all 0.3s ease;
}

/* responsif*/
@media (max-width: 900px) {
  .roomtech-logo {
    width: 300px;
  }
}

@media (max-width: 600px) {
  .container-home {
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem;
  }

  .left-content {
    max-width: 100%;
    padding: 0;
    margin-top: 2rem;
  }

  .unsrat-logo {
    position: static;
    margin-bottom: 1rem;
  }

  .roomtech-logo {
    width: 200px; 
    height: auto;
    transform: none;
    position: static;
    margin-top: 2rem;
    left: 0;
  }  

  .heading-home {
    font-size: 2rem;
  }

  .description-home {
    font-size: 1rem;
    margin-bottom: 1.5rem;
  }

  .buttons {
    justify-content: center;
    flex-wrap: wrap;
  }

  .btn-purple-outline,
  .btn-purple {
    font-size: 12px;
    padding: 5px 12px;
  }
}
