body {
  font-family: 'Poppins', sans-serif;
  color: #212529;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
  object-fit: cover;
}

html {
  scroll-behavior: smooth;
}
